<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Camera
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/all.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
    body
     header
      .banner
       .container
        .row
         .col-12.vertical-center.intro
          .desc
            h4 I'M AHMED IBRAHIM
            h1 Photographer
            h1 & Retoucher
      nav
       .container
        .row
         .col-xl-2.col-lg-4.col-md-4.col-sm-12.logo
          i.fas.fa-camera-retro 
          span CAMERA
          .toggel-btn
           button.togg
            i.fas.fa-bars
         .col-xl-10.col-lg-8.col-md-8.col-sm-12.menu
          ul
           li
            a(href="#") Home
           li
            a(href="#") Portfolio
           li
            a(href="#") Testimonials
           li
            a(href="#") Posts
           li
            a(href="#") Contact
     section.portfolio
      .container
       .row
        .col-12.portfoliohead
         h1 Portfolio
        .col-12.gallary
         .row
          .col-xl-4.col-lg-4.col-md-4.col-sm-12
           .item
            img(src="images/gallary/action-active-activity-adult-415188.jpg", alt="", width="100%")
            .info
             .details
              h3 Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, justo eu venenatis placerat, urna.
              button.btn.btn-dark SEE MORE
           .item
            img(src="images/gallary/crystal-ball-6102.jpg", alt="", width="100%")
            .info
             .details
              h3 Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, justo eu venenatis placerat, urna.
              button.btn.btn-dark SEE MORE
          .col-xl-4.col-lg-4.col-md-4.col-sm-12
           .item
            img(src="images/gallary/sunset-girl-women-photography-17694.jpg", alt="", width="100%")
            .info
             .details
              h3 Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, justo eu venenatis placerat, urna.
              button.btn.btn-dark SEE MORE
           .item
            img(src="images/gallary/adult-attractive-beach-beautiful-457941.jpg", width="100%")
            .info
             .details
              h3 Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, justo eu venenatis placerat, urna.
              button.btn.btn-dark SEE MORE
          .col-xl-4.col-lg-4.col-md-4.col-sm-12
           .item 
            img(src="images/gallary/adult-blur-camera-casual-598917.jpg", alt="", width="100%")
            .info
             .details
              h3 Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, justo eu venenatis placerat, urna.
              button.btn.btn-dark SEE MORE
           .item 
            img(src="images/gallary/woman-taking-pictures-of-ruins-2087391.jpg", alt="", width="100%")
            .info
             .details
              h3 Title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, justo eu venenatis placerat, urna.
              button.btn.btn-dark SEE MORE
         .row
          .col-12.Aboutmehead
           h1 About Me
           p Since 2008, I’ve been providing my clients with quality photography and retouching services. <br> Some of my works were awarded on a national level. Below are some facts about me.
          .col-12.aboutContent
           .row
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.aboutinfo
             <i class="fas fa-award"></i>
             span.counter 22
             p Photography Awards
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.aboutinfo
             <i class="fas fa-camera"></i>
             span.counter 156
             p Photo Shoots
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.aboutinfo
             <i class="fas fa-photo-video"></i>
             span.counter 10
             p Years of Experience
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.aboutinfo
             <i class="fas fa-smile-wink"></i>
             span.counter 392
             p Annual Clients
     section.testimonials
      .container
       .row
        .col-12.testimonialshead
         h1 Testimonials
        .col-12.testimonialscontent
         .slider
          <i class="fas fa-chevron-left"></i>
          <i class="fas fa-chevron-right"></i>
          .client
           img(src="images/testimonials/pic2.png", alt="")
           h4 Ahmed IBrahim
           <p>I have contracted Ahmed IBrahim for 3 family events and have always been 100% satisfied.</p>
     section.questions
      .container
       .row
        .col-12.questionshead
         h1 Frequently Asked Questions
        .col-12.questionscontent
         .row
          .col-xl-6.col-lg-6.col-md-6.col-sm-12
            .ask
             .q.active
              <i class="fas fa-plus-square hide"></i>
              <i class="fas fa-minus-square"></i>
              h4 Do you provide any scripts with your templates?
              p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive.
            .ask
             .q
              <i class="fas fa-plus-square"></i>
              <i class="fas fa-minus-square hide"></i>
              h4 Do you provide any scripts with your templates?
              p.hide Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive.
            .ask
             .q
              <i class="fas fa-plus-square"></i>
              <i class="fas fa-minus-square hide"></i>
              h4 Do you provide any scripts with your templates?
              p.hide Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive.
            .ask
             .q
              <i class="fas fa-plus-square"></i>
              <i class="fas fa-minus-square hide"></i>
              h4 Do you provide any scripts with your templates?
              p.hide Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive.
          .col-xl-6.col-lg-6.col-md-6.col-sm-12
           .analysis
            .photography
             p Photography
              span 90%
             .percentage
              .precentP
            .Creativity
             p Creativity
              span 65%
             .percentage
              .precentC
            .retouching
             p Retouching
              span 100%
             .percentage
              .precentR
            .communication
             p Communication
              span 75%
             .percentage
              .precentComu
     section.subscribe
      .container
       .row
        .col-12
         h1 Looking for 
          span Quality Photography?
         .subbtn
          .sub
           span GET IN TOUCH
           span GET IN TOUCH
     section.posts
      .container
       .row
        .col-12.postshead
         h1 Latest Posts
        .col-12
         .row
          .col-xl-4.col-gl-4.col-md-6.col-sm-12.mainpost
           .post.shadow.p-4.mb-5.bg-white.rounded
            img(src="images/posts/1.jpg", alt="" , width="100%")
            .icons
             <i class="fab fa-facebook"></i>
             <i class="fab fa-twitter"></i>
             <i class="fab fa-youtube"></i>
             <i class="fab fa-google-plus-square"></i>
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi nibh, sagittis eu fermentum convallis, tempor vel nunc.
          .col-xl-4.col-gl-4.col-md-6.col-sm-12.mainpost
           .post.shadow.p-4.mb-5.bg-white.rounded
            img(src="images/posts/2.png", alt="" , width="100%")
            .icons
             <i class="fab fa-facebook"></i>
             <i class="fab fa-twitter"></i>
             <i class="fab fa-youtube"></i>
             <i class="fab fa-google-plus-square"></i>
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi nibh, sagittis eu fermentum convallis, tempor vel nunc.
          .col-xl-4.col-gl-4.col-md-6.col-sm-12.mainpost
           .post.shadow.p-4.mb-5.bg-white.rounded
            img(src="images/posts/3.jpg", alt="" , width="100%")
            .icons
             <i class="fab fa-facebook"></i>
             <i class="fab fa-twitter"></i>
             <i class="fab fa-youtube"></i>
             <i class="fab fa-google-plus-square"></i>
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi nibh, sagittis eu fermentum convallis, tempor vel nunc.
     footer
      .container
       .row
        .col-xl-4.col-gl-4.col-md-6.col-sm-12.AboutMe
         h2 About Me
         p My name is Ahmed IBrahim and I’m professional photographer and retoucher. I’m offering my services to individual and corporate clients throughout the USA. Make your favorite life moment or event last and remain in your memory!
        .col-xl-4.col-gl-4.col-md-6.col-sm-12.Contact
         h2 Contact Information
         .row
          .col-12.Cinfo
           <i class="fas fa-map-marker-alt"></i>
           p 8-B Shoubra masr <br> Cairo, Egypt
          .col-12.Cinfo
           <i class="fas fa-phone-alt"></i>
           p +20 01119595314
          .col-12.Cinfo
           <i class="fas fa-envelope"></i>
           p AhmedIBrahim1057@gmail.com
        .col-xl-4.col-gl-4.col-md-6.col-sm-12.Newsletter
         h2 Newsletter
         .row
          .col-12
           p Sign up to our newsletter and be the first to know about latest news, special offers, events, and discounts.
          .col-12
           <div class="input-group input-group-md">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-md" placeholder="e-mail">
            <div class="input-group-prepend">
              <button class="input-group-text"><i class="far fa-envelope"></i></button>
            </div>
          </div>
        .col-12.outer
         p &copy 2020 All Rights Reserved. Terms of Use and Privacy Policy
     script(src="js/jquery-3.4.1.min.js")
     script(src="js/bootstrap.min.js")
     script(src="js/jquery.nicescroll.js")
     script(src="js/all.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js")
     script(src="js/jquery.counterup.js")
     script(src="js/main.js")